$bColor: #0401ac;
$hColor: #607d8a;
$navColor: red;
$fontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$postDescriptionColor: grey;
$headBackground: "../img/header_background_v2.jpg";
$mainColor: #efefef;
$articleColor: white;