$bColor: #01acac;
$hColor: #01acac;
$navColor: white;
$fontFamily: sans-serif;
$postDescriptionColor: red;
$headBackground: "../img/header_background_v1.jpg";
$mainColor: white;
$articleColor: #efefef;
